@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
}

a {
  text-decoration: none;
}

a,
.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

img {
  height: 500px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  background: #1f2937;
}

.container {
  flex: 1;
}

.first {
  background: #1f2937;
  display: flex;
  justify-content: center;
}

.first-container {
  width: 1200px;
}

.links {
  display: flex;
  gap: 30px;
}

.logo {
  color: #f9faf8;
  font-size: 28px;
}

.hero-container {
  margin: 100px 0;
  display: flex;
  gap: 50px;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-secondary-text {
  margin-bottom: 10px;
}

button {
  background: #3882f6;
  color: white;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 600;
}

.hero-button {
  border: transparent;
  border-radius: 8px;
}

.info-header {
  font-size: 32px;
  font-weight: 900;
  color: #1f2937;
  margin: 0 0 50px;
}

.info-image {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.info-images {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-images > div {
  width: 150px;
}

.second {
  text-align: center;
  padding: 100px 0;
}

.info-subtext {
  font-size: 16px;
  color: #7e7e7e;
}

.third {
  background: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 800px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-author {
  text-align: end;
  font-size: 20px;
  font-weight: 900;
}

.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.action-container {
  background: #3882f6;
  width: 1000px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  color: white;
}

.action-title {
  font-size: 20px;
  font-weight: 600;
}

.action-button {
  border: 2px solid white;
  border-radius: 10px;
}
