@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
}

.container {
  flex: 1;
}

.first {
  background: #1f2937;
  display: flex;
  justify-content: center;
}

.first-container {
  width: 1200px;
}

.links {
  display: flex;
  gap: 30px;
}
